<div class="section-header">
    <h1>Editando Cargo</h1>
    <div class="section-header-breadcrumb">
      <div class="breadcrumb-item"><%= link_to 'Início', root_path %></div>
      <div class="breadcrumb-item"><%= link_to 'Cargos', offices_path %></div>
      <div class="breadcrumb-item">Editando Cargo</div>
    </div>         
</div>  

<%= render 'form', office: @office %>
