<div class="section-header">
    <h1>Editando Função</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><%= link_to 'Início', root_path %></div>
        <div class="breadcrumb-item"><%= link_to 'Funções', financials_path %></div>
        <div class="breadcrumb-item">Editando Função</div>
    </div>          
</div>  

<%= render 'form', function: @function %>