<div class="section-header">
    <h1>Editar Usuário</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><%= link_to 'Início', root_path %></div>
        <div class="breadcrumb-item"><%= link_to 'Usuários', users_path %></div>
        <div class="breadcrumb-item">Editando Usuário</div>
    </div>        
</div>  

<%= render 'form', user: @user %>