<div class="section-header">
    <h1>Editando Escala</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><%= link_to 'Início', root_path %></div>
        <div class="breadcrumb-item"><%= link_to 'Escala', schedules_path %></div>
        <div class="breadcrumb-item">Editando Escala</div>
    </div>         
</div>  

<%= render 'form', schedule: @schedule %>
