<div class="section-header">
    <h1>Novo Valor</h1> 
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><%= link_to 'Início', root_path %></div>
        <div class="breadcrumb-item"><%= link_to 'Valores', financials_path %></div>
        <div class="breadcrumb-item">Novo Valor</div>
    </div>         
</div>  

<%= render 'form', financial: @financial %>