<div class="section-header">
    <h1>Novo Vínculo</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item"><%= link_to 'Início', root_path %></div>
        <div class="breadcrumb-item"><%= link_to 'Vinculos', bonds_path %></div>
        <div class="breadcrumb-item">Novo Vinculo</div>
    </div>           
</div>  

<%= render 'form', bond: @bond %>
